.button {
  @include link-new-window($button-text-color);
  background-color: $button-bg-color;
  border: 0;
  border-radius: 5px;
  color: $button-text-color;
  cursor: pointer;
  display: block;
  font-family: $heading-font-family;
  font-weight: bold;
  margin: 0 0 $global-margin;
  padding: $global-padding;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 200ms ease;
  width: 100%;
  &:hover,
  &:focus {
    background-color: $button-hover-bg-color;
    text-decoration: none;
  }
  &.small {
    font-size: 95%;
    padding: $global-padding / 2;
  }
  &.outlined {
    color: $button-bg-color;
    background-color: transparent;
    border: 1px solid $button-bg-color;
    &:hover,
    &:focus {
      color: $button-text-color;
      background-color: $button-bg-color;
    }
  }
  &--auto-width {
    display: inline-block;
    width: auto;
  }
	&--pause {
		background: transparent;
		color: $button-bg-color;
		margin-left: 5px;
		padding: 0;
		position: relative;
		top: 6px;
		svg {
			fill: currentColor;
		}
		&:hover,
		&:focus {
			background: transparent;
			color: $button-hover-bg-color;
		}
	}
}

.close {
  background-color: $white;
  border: 0;
  border-radius: 999px;
  color: $primary-color;
  cursor: pointer;
  height: 19px;
  line-height: 1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: .625rem;
  top: .5rem;
  width: 19px;
  z-index: 99;
  &::before {
    content: '×';
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 19px;
    margin-bottom: 5px;
    position: relative;
    top: -1px;
  }
}

.iconbutton {
  background: none;
  border: 0;
  cursor: pointer;
  height: 24px;
  padding: 0;
  width: 24px;
  svg * {
    fill: #999999;
  }
  &--settings {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  &:hover,
  &:focus {
    svg * {
      fill: #737373;
    }
  }
}

.settingslabel {
  position: absolute;
  font-size: 16px;
  padding: 2px;
  top: 5px;
  right: 29px;
  color: #5d5757;
  cursor: pointer;
  &--button {
    background: none;
    border: 0;
  }
  &:hover,
  &:focus {
    color: #4a4141;
    outline-width: 0;
  }
}

.add-institute {
  cursor: pointer;
  display: block;
  margin: 1rem 0 1rem 0;
}

.button--text {
  display: block;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  border: 0;
  background: none;
  color: #333333;
  font-family: $body-font-family;
  font-size: 12px;

  &:disabled {
    cursor: not-allowed !important;
    opacity: .25 !important;
  }
}

.button--undo {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
  }

  img {
    width: 16px;
    margin: 0 5px 0 10px;
  }
}
