.button {
  @include link-new-window($button-text-color);
  background-color: $button-bg-color;
  border: 0;
  border-radius: 5px;
  color: $button-text-color;
  cursor: pointer;
  display: block;
  font-family: $heading-font-family;
  font-weight: bold;
  margin: 0 0 $global-margin;
  padding: $global-padding;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 200ms ease;
  width: 100%;
  &:hover {
    background-color: $button-hover-bg-color;
    text-decoration: none;
  }
}

.close {
  background-color: $white;
  border: 0;
  border-radius: 999px;
  color: $primary-color;
  cursor: pointer;
  height: 19px;
  line-height: 1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: .625rem;
  top: .5rem;
  width: 19px;
  z-index: 99;
  &::before {
    content: '×';
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 19px;
    margin-bottom: 5px;
    position: relative;
    top: -1px;
  }
}

.iconbutton {
  background: none;
  border: 0;
  cursor: pointer;
  height: 24px;
  padding: 0;
  width: 24px;
  svg * {
    fill: #999999;
  }
  &--settings {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.add-institute {
  cursor: pointer;
  display: block;
  margin: -1rem 0 1rem 0;
}
