@import 'react-select/scss/default';

.react-select {
  &__label {
    display: block;
    margin-bottom: 4px;
  }
  &__inputcontainer {
    padding-bottom: 1px;
  }
  .Select {
    margin-bottom: 14px;
    &.is-focused {
      border-bottom: 0;
      outline: none;
      & ~ .formcontrol__bar::after {
        width: 50%;
      }
      & ~ .formcontrol__bar::before {
        width: 50%;
      }
    }
    &-control {
      border-radius: 0;
      margin: 0;
      padding: 0;
    }
    &-placeholder,
    &--single > .Select-control .Select-value,
    &-input {
      padding: 0 2px;
    }
    &-option {
      &.is-focused,
      &.is-selected {
        background-color: $light-gray;
      }
    }
  }
}
