$base-size: 18px;
$toggle-color: $primary-color;
$toggle-shadow-0: 0 0 0 0 lighten($toggle-color, 10%);
$toggle-shadow-50: 0 0 0 15px rgba(lighten($toggle-color, 10%), .4);
$toggle-shadow-100: 0 0 0 15px rgba(lighten($toggle-color, 10%), 0);
.toggle {
	&__container {
		height: $base-size;
		position: relative;
		width: $base-size;
		> * {
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}
input[type=radio],
input[type=checkbox] {
	margin: 0;
	opacity: 0;
	outline: none;
	outline-width: 0;
	z-index: 2;
	&:focus {
		& + .checkbox,
		& + .radiobutton {
			animation: press .8s 1;
		}
	}
	appearance: none;
}
.checkbox,
.radiobutton {
	-webkit-backface-visibility: hidden;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: $base-size;
	z-index: 1;
	&::before,
	&::after {
		content: '';
	}
	&::after {
		border: 2px solid $form-label-font-color;
		display: block;
		height: $base-size;
		margin-right: 5px;
		transition: 240ms ease-in-out;
		width: $base-size;
	}
}
input[type=checkbox] {
	& + .checkbox::after {
		background-color: $white;
		border-radius: 2px;
		z-index: 999;
	}
	&:checked {
		& + .checkbox {
			&::after {
				background-color: $toggle-color;
				border-color: $toggle-color;
			}
			&::before {
				border: 2px solid $white;
				border-left-width: 0;
				border-top-width: 0;
				content: '';
				display: table;
				height: 12px;
				left: 6px;
				position: absolute;
				top: 2px;
				transform: rotate(45deg);
				width: 6px;
			}
		}
	}
}
input[type=radio] {
	& + .radiobutton {
		&::before {
			background-color: $toggle-color;
			border-radius: 50%;
			display: block;
			height: $base-size;
			left: 0;
			position: absolute;
			top: 0;
			transform: scale(0);
			transform-origin: center;
			transition: 240ms ease-in-out;
			width: $base-size;
		}
		&::after {
			border-radius: 50%;
		}
	}
	&:checked {
		& + .radiobutton {
			&::before {
				transform: scale(.45);
			}
			&::after {
				border-color: $toggle-color;
				transform: translate3d(0, 0, 0);
			}
		}
		&:disabled {
			& + .radiobutton::before {
				background-color: $white-smoke;
			}
		}
	}
}
// disabled
input[disabled] {
	& ~ .checkbox,
	& ~ .radiobutton {
		&::after {
			background-color: $white-smoke;
			border-color: $iron;
			cursor: not-allowed;
		}
	}
	&[checked] {
		& ~ .checkbox,
		& ~ .radiobutton {
			&::after {
				background-color: $white-smoke;
				border-color: $iron;
			}
		}
		& ~ .checkbox::before {
			border-color: $base;
		}
		& ~ .radiobutton::before {
			background-color: $base;
			transform: scale(.45);
		}
	}
}
@keyframes press {
	0% {
		box-shadow: $toggle-shadow-0;
	}
	50% {
		box-shadow: $toggle-shadow-50;
	}
	100% {
		box-shadow: $toggle-shadow-100;
	}
}