h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  margin: 0 0 10px;
}

h1 { font-size: 18px; }

h2 { font-size: 16px; }

h3 { font-size: 14px; }

header {
  background-color: $header-bg-color;
}

a:not(.button),
.button--anchor-style {
  @include link-new-window($anchor-color);
	color: $anchor-color;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

p, ul, ol {
  margin: 0 0 $global-margin;
}

.text-center {
	text-align: center;
}

.paragraph--no-margin {
	margin-bottom: 0;
}