@import 'settings';

.header {
	position: relative;
	overflow: hidden;
	&::before {
		background: #000000;
		color: #ffffff;
		content: 'beta';
		font-family: 'Arial', sans-serif;
		font-size: 12px;
		font-weight: bold;
		padding: 3px;
		position: absolute;
		left: -30px;
		text-align: center;
		text-transform: uppercase;
		top: 10px;
		transform: rotate(-45deg);
		transform-origin: center;
		width: 100px;
	}
}
