@import 'settings',
'mixins',
'button',
'callout',
'footer',
'forms',
'header',
'normalize',
'popup-skip-link',
'react-select',
'typography',
'visibility';

* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

body {
	color: $body-font-color;
	font-family: $body-font-family;
	font-size: $global-font-size;
	line-height: 1.4;
	overflow-x: hidden;
	overflow-y: auto;
}

.contentcontainer {
	position: relative;
}

.popup-container {
	background: $white;
	width: 336px;
	header img {
		max-width: 280px;
	}
	&--content {
		border: 1px solid $medium-gray;
		width: 334px;
	}
	&--options {
		border: 1px solid $medium-gray;
		margin: 20px auto;
		width: 334px;
	}
}

header {
	background-color: $header-bg-color;
}

.padbox {
	padding: 28px;
	> *:last-child {
		margin-bottom: 0;
	}
	&--small {
		padding-bottom: 14px;
		padding-top: 14px;
	}
}

hr {
	border: 0;
	border-top: 1px solid $light-gray;
	height: 0;
	margin: 0;
}
